<nav class="bg-slate-800 p-4">
    <div class="container mx-auto flex justify-between items-center">
        <div class="text-white text-2xl font-semibold">
            <a href="{% url 'home' %}">EasyWoo</a>
        </div>
        <div>
            <a href="{% url 'home' %}" class="text-slate-300 hover:text-white hover:border-b-2 border-white px-3 py-2 rounded-md text-sm font-medium">Home</a>
            <a href="#" class="text-slate-300 hover:text-white hover:border-b-2 border-white px-3 py-2 rounded-md text-sm font-medium">Agregar producto</a>
        </div>
    </div>
</nav>
